<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Bart's Blog{% block subtitle %}{% endblock %}</title>
    <script src="{{ app.request.basepath }}/js/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/css/style.css"/>

</head>
<body>
<div class="header">
    {% block header %}
        <a href="/blog/">Bart's Blog</a>
    {% endblock %}
</div>


<div class="top_menu">
    {% block top_menu %}
        <a href={{ config.account_link }}>{{ config.account_text }}</a>|<a href='/blog/register/'>Register</a>
    {% endblock %}
</div>

<div class ="site_body">
    <div class="container">
        {% block container %}
        {% endblock %}
    </div>

    <div class="right_column">
        {% block right_column %}
            right column
        {% endblock %}
    </div>
</div>
<div class="footer">
    {% block footer %}
        footer
    {% endblock %}
</div>
<div>
    {% block copyright %}
        Copyright 2015 by Barto
    {% endblock %}
</div>

</body>
</html>