{% extends "base.twig" %}

{% block subtitle %}
    - {{ post.title }}
{% endblock %}

{% block container %}

    <div class="post_title">{{ post.title }}</div>
    <div class="post_text">{{ post.text }}</div>

{% endblock %}