{% extends "index.twig" %}

{% block container %}


<form method='POST'>
    <input type='text' name='login' id='login'><br>

    <input type='password' name='password' id='password'><br>
    
    <input type='password' name='password2' id='password2'><br>
    
    <input type='text' name='email' id='email'><br>

<input type='submit' value='Log In' id='submit'>
</form>
{% endblock %}